p{
    background: #09f;
    color: #fff;
}
ul.nav{
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}
ul.nav li{
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
}
ul.nav li a{
    text-decoration: none;
    display: block;
    background-color: #09f;
    color: #fff;
}
ul.nav li a:hover{
    background-color: #900;
}